/* Estilos personalizados da BitHealth - Inês Moreira */

body {
    background-color: #f8f9fa; /* Um cinza muito claro para parecer limpo */
}

.navbar {
    border-bottom: 3px solid #007bff; /* Uma linha azul (ou a cor do teu logo) */
}

h1 {
    color: #212529;
    font-weight: bold;
}

/* Cores para os níveis de criticidade */
.criticidade-alta {
    border-left: 5px solid red;
    padding-left: 10px;
}

.criticidade-media {
    border-left: 5px solid orange;
    padding-left: 10px;
}

.criticidade-suporte-vida {
    background-color: #ffe5e5;
    font-weight: bold;
}